<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Compra</title>
</head>
<body>
    <h1>Confirmación de Compra</h1>
    <% if (items.length > 0) { %>
        <% items.forEach(function(item) { %>
            <div class="pedidos1">
                <img class="logo1" src="<%= item.imagen %> " alt="">
                <div class="descrip">
                    <label for=""> Descripcion</label>
                    <label class="descripp" for=""<%= item.nombre %> </label>
                </div>
            
                <div class="stock">
                    <div class="unidd">
                        <label for="">cantidad</label>
                        <label class="pedidoss" for=""><%= item.cantidad %> unidades</label>
                    </div>
                 </div>
        
                <div class="precio">
                  <label class="titulo2" for="">Stock</label>
                  <label class=" titulo3" for=""> $<%= items.reduce((sum, item) => sum + item.total, 0).toFixed(2) %></label>
                </div>
            </div>
            
        <% }); %>
        </ul>
        <h3>Total: $<%= items.reduce((sum, item) => sum + item.total, 0).toFixed(2) %></h3>
    <% } else { %>
        <p>No hay artículos en tu compra.</p>
    <% } %>
    <a href="/">Volver a la tienda</a>



   
</body>
</html>